<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>DevExpress Xamarin Gallery</string>
	<key>CFBundleIdentifier</key>
	<string>com.devexpress.xamaringallery</string>
	<key>CFBundleName</key>
	<string>com.devexpress.xamaringallery</string>
	<key>CFBundleShortVersionString</key>
	<string>21.2.4</string>
	<key>CFBundleVersion</key>
	<string>21.2.4</string>
	<key>MinimumOSVersion</key>
	<string>9.3</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs Apple Music access</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs Bluetooth access</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs Calendars access</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs Contacts access</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs Location access</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs Location access</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs Microphone access</string>
	<key>NSSiriUsageDescription</key>
	<string>This app needs Siri access</string>
	<key>UIAppFonts</key>
	<array>
		<string>univia-pro-regular.ttf</string>
		<string>univia-pro-medium.ttf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
